html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav a,
.bottom a {
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: black;
  margin-left: 4px;
  margin-right: 4px;
}

nav a.active,
.bottom a.active {
  color: purple;
}
